<!-- group作成のパーシャル -->
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title">create group</h2>
        </div>
        <div class="modal-body">
            <div class = 'container-fluid'>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <%= form_for(@group, url: user_groups_path, remote: true) do |f| %>
                            <%= f.label :title %>
                            <%= f.text_field :title %>

                            <%= f.label :content %>
                            <%= f.text_area :content %>

                            <%= f.label :starttime %>
                            <div class='input-group date datetimepicker-form' style="margin-bottom: 10px;">
                              <%= f.text_field :starttime, class: 'form-control' %>
                              <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                              </span>
                            </div>

                            <%= f.label :endtime %>
                            <div class='input-group date datetimepicker-form' style="margin-bottom: 10px;">
                              <%= f.text_field :endtime, class: 'form-control' %>
                              <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                              </span>
                            </div>

                            <%= f.label :timelength %>
                            <%= f.number_field :timelength %>

                            <%= f.submit "Create group", class: "btn btn-primary" %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
        </div>
    </div>
</div>
