<ul>
    <div class="underline" style="border-bottom: 1px solid #808080; margin-bottom:10px;"></div>
    <% @group.followers.each do |user| %>
        <li>
            <div class="inline-block user-name"><%= user.name %></div>
            <div class="follow_form float-right">
                <% if current_user.following?(user) %>
                    <%= form_for(current_user.active_user_relations.find_by(user_followed_id: user.id),
                                                                            html: { method: :delete }) do |f| %>
                    <%= f.submit "unfollow", class: "btn btn-primary" %>
                    <% end %>
                <% else %>
                    <%= form_for(current_user.active_user_relations.build) do |f| %>
                        <div><%= hidden_field_tag :user_followed_id, user.id %></div>
                        <%= f.submit "follow", class: "btn btn-primary"  %>
                    <% end %>
                <% end %>
            </div>
                <button class="inline-block btn btn-primary float-right">invite</button>
            <% end %>
            <div class="underline" style="border-bottom: 1px solid #808080; margin-top:10px;"></div>
        </li>
    <% end %>
</ul>