<!-- group#indexいらないかも -->
<div class="container">
    
    <h1>Group</h1>
    
    <ul class="nav nav-tabs">
        <li class="nav-item"><%= link_to "Participating groups", participating_path, class: "active" %></li>
        <li class="nav-item"><%= link_to "Invited groups", invited_path %></li>
        <!-- all groupsは後で消す。自分で作ったgroupをフォローする仕組みにしたら -->
        <li class="nav-item active"><%= link_to "All groups", user_groups_path(user_id: current_user.id) %></li>
    </ul>
    
    <h2>All groups</h2>
    <% if !@groups.empty? %>
        <ul>
            <% @groups.each do |group| %>
                <li><%= link_to group.title, user_group_path(@user.id, group) %></li>
            <% end %>
        </ul>
    <% else %>
        <div class="#">グループはありません</div>
    <% end %> 

    
</div>