<% provide(:title, @group.title) %>

<div class = 'container'>
    
    <h1><%= @group.title %></h1>
    <% if logged_in? %>
        <div class = "follow_form inline-block-nm">
            <%= render 'follow_form' %>
        </div>
        <button class="btn btn-primary inline-block-nm">招待する</button>
    <% elsif %>
        <button class="btn btn-primary inline-block-nm">　ログインして利用する</button>
        <button class="btn btn-primary inline-block-nm">登録する</button>
        <button class="btn btn-primary inline-block-nm">登録せずに利用する</button>
    <% end %>
        <button class="btn btn-primary inline-block-nm">linkを送る</button> 
        
    <div class="row" style="margin-bottom: 100px;">
        <% if !@group.content.empty? %>
            <div class = "col-md-6">
                <h2>description</h2>
                    <div class="">
                        <%= @group.content %>
                    </div>
            </div>
        <% end %>
        
    
        <div class = "col-md-6">
            
            <!-- 参加している人数に合わせて条件分岐 -->
            
                <div class = "schedule">
                    <% if @group.followers.any? %>
                        <h2>schedule</h2>
                        <h3>都合のいい日程</h3>
                            <% if @time_count == @time_number + 1 %>
                                <p>ありませんでした。</p>
                            <% else %>
            <% if @complete_array.count == 1 && @convinient_time_array.count > 1 %>
                <% @number_start = @convinient_time_array[0] %>
                <% @number_end = @convinient_time_array[-1] + 1 %>
                <% if @number_end - @number_start >= @group.timelength %>
                <p><%= @group.starttime.since(@number_start.hour) %>から<%= @group.starttime.since(@number_end.hour) %>まで</p>
                <% else %>
                <p>時間があいませんでした。</p>
                <% end %>
            <% elsif @complete_array.count > 1 && @complete_array[-1] != @convinient_time_array[-1] %>
                <% @complete_array_saved = @complete_array %>
                <ul>
                <% while @complete_array.index {|item| item =~ /^t/ } do %>
                    <% @position_end = @complete_array.index {|item| item =~ /^t/ } %>
                    <% @number_end = @complete_array[@position_end].delete("to").to_i + 1 %>
                    <% @complete_array.delete_at(@position_end) %>
                    <% @position_start = @position_end - 1 %>
                    <% @number_start = @complete_array[@position_start] %>
                    <% if @number_end - @number_start >= @group.timelength %>
                    <li><%= @group.starttime.since(@number_start.hour) %>から<%= @group.starttime.since(@number_end.hour) %>まで</li>
                    <% else %>
                    <p>時間があいませんでした。</p>
                    <% end %>
                <% end %>
                    <% @number_start = @complete_array_saved[-1] %>
                    <% @number_end = @convinient_time_array[-1] + 1 %>
                    <% if @number_end - @number_start >= @group.timelength %>
                    <li><%= @group.starttime.since(@number_start.hour) %>から<%= @group.starttime.since(@number_end.hour) %>まで</li>
                    <% else %>
                    <p>時間があいませんでした。</p>
                    <% end %>
                </ul>
            <% else %>
                <ul>
                <% while @complete_array.index {|item| item =~ /^t/ } do %>
                    <% @position_end = @complete_array.index {|item| item =~ /^t/ } %>
                    <% @number_end = @complete_array[@position].delete("to").to_i + 1 %>
                    <% complete_array.delete_at(@position_end) %>
                    <% @position_start = @position_end - 1 %>
                    <% @number_start = @complete_array[@position_start] %>
                    <% if @number_end - @number_start >= @group.timelength %>
                    <li><%= @group.starttime.since(@number_start.hour) %>から<%= @group.starttime.since(@number_end.hour) %>まで</li>
                    <% else %>
                    <p>時間があいませんでした。</p>
                    <% end %>
                <% end %>
                </ul>
            <% end %>
        <% end %>
        
        <p>timecount: <%= @time_count %></p>
        <p>convinient_time_array: <%= @convinient_time_array %></p>
        <p>complete_array: <%= @complete_array %></p>
        <p>convinient_event: <%= @convinient_event %></p>
        <p>inconvinient_event: <%= @inconvinient_event %></p>
        <p>starttime: <%= @group.starttime %></p>
        <p>endtime: <%= @group.endtime %></p>

        
    <% end %>
    </div>
        </div>
    
            
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <h2>グループのメンバー</h2>
                <div class = "participants">
                    <% if @group.followers.any? %>
                        <%= render 'user' %>
                    <% else %>
                        <p>まだメンバーがいません。</p>
                    <% end %>
                    <h3>招待中</h3>
                        <div class="inviting">
                            <!-- 招待中の処理（ユーザーがinvitationを送る形 ) -->
                        </div>
                </div>
        </div>        
    </div>    




</div>