<ul class="nav nav-tabs">
    <li class="nav-item"><%= link_to "following", following_user_path(current_user.id) %></li>
    <li class="nav-item"><%= link_to "follower", followers_user_path(current_user.id) %></li>
    <li class="nav-item active"><%= link_to "all", users_path %></li>
</ul>