<% provide(:title, 'プロフィール設定') %>

<div class = 'container'>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: user_path(@user) ) do |f| %>
    <%= render 'shared/error_messages' %>
    
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.email_field :email %>
      
      <%= f.label :gmail %>
      <%= f.email_field :gmail %>

      <%= f.label :password %>
      <%= f.password_field :password %>
      
      

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
      

      <%= f.submit "edit my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

</div>