<% provide(:title, 'ユーザー') %>

<div class = 'container'>
    
    <h1>Users</h1>
    
    <ul class="nav nav-tabs">
        <li class="nav-item active"><%= link_to "following", following_user_path(current_user.id) %></li>
        <li class="nav-item"><%= link_to "follower", followers_user_path(current_user.id) %></li>
        <li class="nav-item"><%= link_to "all", users_path %></li>
    </ul>
    
    <h2>following</h2>
    <% if !@users.empty? %>
        <ul>
            <% @users.each do |user| %>
                <li>
                    <% if current_user.following?(user) %>
                        <%= user.name %>
                        <%= form_for(current_user.active_user_relations.find_by(user_followed_id: user.id),
                                                                        html: { method: :delete }) do |f| %>
                        <%= f.submit "unfollow", class: "btn" %>
                        <% end %>
                    <% else %>
                        <%= user.name %>
                        <%= form_for(current_user.active_user_relations.build) do |f| %>
                        <div><%= hidden_field_tag :user_followed_id, user.id %></div>
                        <%= f.submit "follow", class: "btn btn-primary" %>
                        <% end %>
                    <% end %>                    
                </li>
            <% end %>
        </ul>
    <% else %>
        <div class="#">フォローしている人はいません</div>
    <% end %>     
    
</div>


