<% provide(:title, 'ユーザー') %>

<div class = 'container'>

    <h1>Users</h1>

        <%= render 'tab' %>

        <!-- ユーザー検索 -->
        <div class="user_search" style="margin-top: 40px;">
            <div class="row">
                <div class="col-md-5 col-md-offset-7">
                    <%= form_tag(users_path, method: :get) do %>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-1">
                                <%= text_field_tag :search %>
                            </div>
                            <div class="col-md-3 col-md-offset-1">
                                <%= submit_tag 'Search', :name => nil, class: "btn btn-sm btn-primary" %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>

        <div class="user-index" style="margin-top: 40px;">
            <% if @users %>
                <%= will_paginate %>
                    <%= render 'follow_form' %>
                <%= will_paginate %>
            <% else %>
                <p>検索してください</p>
            <% end %>
        </div>



</div>
