<% if current_user == @user %>

  <% provide(:title, @user.name) %>

  <div class = 'container'>
    
    <div class = "row">
      <div class = "col-md-8 col-md-offset-2">
        <div id=calendar></div>
      </div>
    </div>

  </div>

<% elsif %>
  
  <!-- 書き方を変える（before actionがいいかも） -->
  <p>ログインしてください。</p>
  
<% end %>

  

<%= javascript_include_tag "calendar.js" %>
<%= javascript_include_tag "datetimepicker.js" %>



