<!-- 成功のモーダル -->
<div class="modal fade" id="success-modal" tabindex="-1">
    <div class="modal-dialog">
		  <div class="modal-content">
		      <div class="modal-body">
			      作成されました
		      </div>
			  <div class="modal-footer">
			      <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
		      </div>
	    </div>
	</div>
</div>

<!-- 失敗のモーダル -->
<div class="modal fade" id="fail-modal" tabindex="-1">
    <div class="modal-dialog">
		  <div class="modal-content">
		      <div class="modal-body">
			      失敗しました
		      </div>
			  <div class="modal-footer">
			      <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
		      </div>
	    </div>
	</div>
</div>