<!-- event作成のパーシャル -->
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title">create event</h2>
        </div>
        <div class="modal-body">
            <div class = 'container-fluid'>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <%= form_for(@event, url: user_events_path(user_id: current_user.id), remote: true) do |f| %>
                            <%= f.label :title %>
                            <%= f.text_field :title %>


                            <%= f.label :start %>
                            <div class='input-group date datetimepicker-form' style="margin-bottom: 10px;">
                              <%= f.text_field :start, class: 'form-control' %>
                              <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                              </span>
                            </div>


                            <%= f.label :end %>
                            <div class='input-group date datetimepicker-form' style="margin-bottom: 10px;">
                              <%= f.text_field :end, class: 'form-control' %>
                              <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                              </span>
                            </div>

                            <%= f.hidden_field :calendar_id, value: @calendar_id %>

                            <%= f.submit "Create event", class: "btn btn-primary" %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
        </div>
    </div>
</div>
