<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <div class="navbar-header">
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to "calare", root_path, id: "logo" %></li>
        </ul>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#gnavi">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="gnavi" class="collapse navbar-collapse">
        
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <% if current_user.google_calendars.empty? %>
              <li><%= link_to "google calendarと連携する", redirect_path %></li>
            <% end %> 
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                グループ <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "参加中のグループ", participating_path %></li>
                <li><%= link_to "招待されているグループ", invited_path %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                ユーザー <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "フォロー中のユーザー", following_user_path(current_user.id) %></li>
                <li><%= link_to "フォローされているユーザー", followers_user_path(current_user.id) %></li>
                <li><%= link_to "ユーザーを探す", users_path %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.name %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "My page", user_path(current_user.id) %></li>
                <li><%= link_to "Settings", edit_user_path(current_user.id) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Log out", logout_path, method: :delete %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Log in", login_path %></li>
            <li><%= link_to "Sign up", signup_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
</header>